# Ignore local configuration files.
/.rspec
/.rubocop
/.ruby-version

# Ignore compiled gem files.
*.gem
.bundle

# Ignore Gemfile locks.
Gemfile.lock
gemfiles/*.lock

# Ignore local and generated documentation.
/doc
.yardoc
.yardopts

# Ignore temporary files.
/.byebug_history
/spec/examples.txt
/tmp

# Vim Swap files
*.swp
