# Build Options
language: ruby
rvm:
- 2.2.7
- 2.3.4
- 2.4.1
gemfile:
- gemfiles/activemodel_3.gemfile
- gemfiles/activemodel_4.gemfile
- gemfiles/rspec_3_3.gemfile
- gemfiles/rspec_3_4.gemfile
- gemfiles/rspec_3_5.gemfile
- gemfiles/rspec_3_6.gemfile
matrix:
  allow_failures:
  - gemfile: gemfiles/rspec_edge.gemfile
  fast_finish: true
  include:
    - rvm: 2.4.1
      gemfile: gemfiles/rspec_edge.gemfile
script:
- 'bundle exec thor ci:steps'

# Travis-CI Configuration
cache: bundler
sudo:  false # Enable containerized builds.
