# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  - push
  - pull_request

jobs:
  rspec:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'skip-ci') }}
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      BUNDLE_WITHOUT: docs # Skip documentation-specific dependencies
    strategy:
      fail-fast: false
      matrix:
        gemfile:
          - rspec_3_13
        ruby-version:
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'
        include:
          - gemfile: activemodel_6_1
            ruby-version: '3.1'
          - gemfile: activemodel_7_0
            ruby-version: '3.1'
          - gemfile: activemodel_7_1
            ruby-version: '3.2'
          - gemfile: activemodel_7_2
            ruby-version: '3.3'
          - gemfile: rspec_3_9
            ruby-version: '3.3'
          - gemfile: rspec_3_10
            ruby-version: '3.3'
          - gemfile: rspec_3_11
            ruby-version: '3.3'
          - gemfile: rspec_3_12
            ruby-version: '3.3'

    steps:
    - uses: actions/checkout@v3

    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically

    # Set up local configuration files.
    - name: Set up RSpec configuration
      run: cp .rspec.example .rspec

    - name: Run RSpec tests
      run: bundle exec rspec

  rspec_each:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'skip-ci') }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4'
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically

    # Set up local configuration files.
    - name: Set up RSpec configuration
      run: cp .rspec.example .rspec

    - name: Run each RSpec test
      run: bundle exec thor ci:rspec_each

  rubocop:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'skip-ci') }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4'
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically

    - name: Setup RuboCop configuration
      run: cp .rubocop.example .rubocop

    - name: Run RuboCop linter
      run: bundle exec rubocop
