# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
    strategy:
      fail-fast: false
      matrix:
        gemfile:
          - activemodel_3
          - activemodel_4
          - activemodel_5_0
          - activemodel_5_1
          - activemodel_5_2
          - activemodel_6_0
          - rspec_3_4
          - rspec_3_5
          - rspec_3_6
          - rspec_3_7
          - rspec_3_8
          - rspec_3_9
          - rspec_3_10
        ruby-version:
          - '2.6'
          - '2.7'
        include:
          - gemfile: activemodel_6_0
            ruby-version: '3.0'
          - gemfile: rspec_3_9
            ruby-version: '3.0'
          - gemfile: rspec_3_10
            ruby-version: '3.0'
          - gemfile: activemodel_6_0
            ruby-version: '3.1'
          - gemfile: rspec_3_9
            ruby-version: '3.1'
          - gemfile: rspec_3_10
            ruby-version: '3.1'

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Setup RSpec configuration
      run: cp .rspec.example .rspec
    - name: Run tests
      run: bundle exec thor ci:steps
